body {
    font-family: 'Roboto', sans-serif;
	background: #FAFAFA;
}

nav {
    float: left;
    background-color: #53bbf4;
    width: 100%;
}

a.header_nav_bar {
    background-color: #ffffff;
    display: inline-block;
    background-color: #53bbf4;
	color: #ffffff;
	margin-left: -4px;
    text-align: center;
    padding: 14px 18px;
	text-decoration: none;
	border-right: 1px solid #ddd;
}

a.header_nav_bar:hover {
    background-color: #339fff;
}

.recipient {
	display: block;
}

.blockContent {
	display: block;
}

input {
	border: 1px solid #53bbf4;
	margin-bottom: 2px;
	-webkit-transition: all 0.30s ease-in-out;
}

/*BUTTONS*/
button {
	color: #fff;
	background-color: #2DAAED;
	text-shadow: -1px 1px #417cb8;
	padding: 10px 10px;
	border: none;
	margin: 5px 5px 5px 5px;
}

button:hover {
	background-color: #0A95DF;
	text-shadow: -1px 1px #27496d;
}

/* LEADERBOARD */
table#leaderboard {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table#leaderboard th, table#leaderboard td {
	border: 1px solid black;
	padding: 5px;
	transition: all 0.15s;
	text-align: left;
}

table#leaderboard th {
	font-weight: bold;
	background: #3fb4f3;
}

table#leaderboard tr:nth-child(even) td {
	background: #cfecfc;
}

table#leaderboard tr td:hover {
	background: #87d0f7;
}

